<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Elige tu hotel - Creación de Paquetes de Viaje</title>
  {% load static %}
  <link href="{% static 'css/bootstrap.min.css'%}" rel="stylesheet">
  <style>
    body {
      background-color: #001f3f;
      color: white;
    }
    .login-button {
        background-color: rgb(135, 173, 250);
        color: black;
        font-size: 16px;
        padding: 8px 16px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
  </style>
</head>
<body>
    {% include 'base/navbar.html'%}
    <div class="container">
        <h1>Elige entre los siguientes hoteles</h1>
        <div class="row">
            <div class="col-lg-3 col-md-4 col-6 px-md-2 px-1 mb-3">
                <div class="card">
                    <img src="{% static 'img/hotel1.jpg' %}" class="card-img-top" alt="Cargando imagen...">
                    <div class="card-body">
                        <h5 class="card-title" style="color:#001f3f;">Hotel Sheraton</h5>
                        <p class="card-text"style="color:#001f3f;">
                        <hr>
                        <p class="card-text"style="color: #001f3f;">Precio: $200.000
                            <br>
                            El Sheraton Santiago dispone de 525 habitaciones de diferentes categorías que 
                            ofrecen un servicio incomparable. <br>
                            Cuando se trata de una estancia inolvidable, nuestras habitaciones en Santiago 
                            te brindarán la combinación perfecta de tranquilidad y <br>
                            confort, con vistas inigualables a la ciudad, la Cordillera de los Andes y el 
                            Cerro San Cristóbal.                  
                        </p>
                        <div class="text-center mt-3">
                            <a href="{% url 'vuelos' %}" class="btn btn-primary btn-lg">Continuar</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-6 px-md-2 px-1 mb-3">
                <div class="card">
                    <img src="{% static 'img/hotel2.jpg' %}" class="card-img-top" alt="Cargando imagen...">
                    <div class="card-body">
                        <h5 class="card-title" style="color:#001f3f;">Hotel W Santiago</h5>
                        <p class="card-text"style="color:#001f3f;">
                        <hr>
                        <p class="card-text"style="color: #001f3f;">Precio: $250.000
                            <br>
                            Disfruta de la combinación perfecta entre lujo y comodidad en el Hotel W 
                            Santiago. Con una ubicación privilegiada en el corazón de la ciudad, el Hotel 
                            W Santiago te ofrece una experiencia inolvidable con su servicio de primera 
                            clase y sus instalaciones de primer nivel.
                        </p>

                        <div class="text-center mt-3">
                            <a href="{% url 'vuelos' %}" class="btn btn-primary btn-lg">Continuar</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-6 px-md-2 px-1 mb-3">
                <div class="card">
                    <img src="{% static 'img/hotel3.jpg' %}" class="card-img-top" alt="Cargando imagen...">
                    <div class="card-body">
                        <h5 class="card-title" style="color:#001f3f;">Hotel Plaza San Francisco</h5>
                        <p class="card-text"style="color:#001f3f;">
                        <hr>
                        <p class="card-text"style="color: #001f3f;">Precio: $180.000
                            <br>
                            Descubre la elegancia y el encanto del Hotel Plaza San Francisco, ubicado en el 
                            corazón de Santiago. Con su rica historia y su estilo clásico, el Hotel Plaza 
                            San Francisco te ofrece una estancia inolvidable con su cálida hospitalidad y 
                            su ambiente acogedor.
                        </p>

                        <div class="text-center mt-3">
                            <a href="{% url 'vuelos' %}" class="btn btn-primary btn-lg">Continuar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

{%include 'base/footer.html'%}
</body>