
body{
    padding: 10px;
    container-type: square;
    background-color: black;
    font-size: 10px;
    color: blue;
}
#amarillo {
    background-color: yellow;
    width: 100%;
    height: 25%;
    padding: 30px;
}
#rosado {
    background-color: pink;
    width: 100%;
    height: 25%;
    padding: 30px;
}
#azul {
    background-color: blue;
    width: 100%;
    height: 25%;
    padding: 30px;
}
#rojo {
    background-color: red;
    width: 100%;
    height: 25%;
    padding: 30px;
}